In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

import numpy as np
import dataframe_image as dfi

### Importazione dataframe

In [2]:
df1 = pd.read_csv('C:/Users/HP/Desktop/PLC_gualchierani/monitorconi_23mar_to_29mar.csv')
df2 = pd.read_csv('C:/Users/HP/Desktop/PLC_gualchierani/monitorconi_30mar_to_4apr.csv')
df3 = pd.read_csv('C:/Users/HP/Desktop/PLC_gualchierani/monitorconi_5apr_to_11apr.csv')
df4 = pd.read_csv('C:/Users/HP/Desktop/PLC_gualchierani/monitorconi_12apr_to_18apr.csv')
df5 = pd.read_csv('C:/Users/HP/Desktop/PLC_gualchierani/monitorconi_19apr_to_25apr.csv')
df6 = pd.read_csv('C:/Users/HP/Desktop/PLC_gualchierani/monitorconi_26apr_to_2mag.csv')
df7 = pd.read_csv('C:/Users/HP/Desktop/PLC_gualchierani/monitorconi_3mag_to_9mag.csv')
df8 = pd.read_csv('C:/Users/HP/Desktop/PLC_gualchierani/monitorconi_10mag_to_16mag.csv')
df9 = pd.read_csv('C:/Users/HP/Desktop/PLC_gualchierani/monitorconi_17mag_to_23mag.csv')
df10 = pd.read_csv('C:/Users/HP/Desktop/PLC_gualchierani/monitorconi_24mag_to_30mag.csv')

In [3]:
df1["measured_at"] = pd.to_datetime( df1["measured_at"] )
df2["measured_at"] = pd.to_datetime( df2["measured_at"] )
df3["measured_at"] = pd.to_datetime( df3["measured_at"] )
df4["measured_at"] = pd.to_datetime( df4["measured_at"] )
df5["measured_at"] = pd.to_datetime( df5["measured_at"] )
df6["measured_at"] = pd.to_datetime( df6["measured_at"] )
df7["measured_at"] = pd.to_datetime( df7["measured_at"] )
df8["measured_at"] = pd.to_datetime( df8["measured_at"] )
df9["measured_at"] = pd.to_datetime( df9["measured_at"] )
df10["measured_at"] = pd.to_datetime( df10["measured_at"] )

In [3]:
mask_30mar = np.asarray( df1[ df1['measured_at'].dt.day == 30].index )
df1.drop( mask_30mar, inplace = True )

mask_29mar = np.asarray( df2[ df2['measured_at'].dt.day == 29].index )
df2.drop( mask_29mar, inplace = True )

mask_5apr = np.asarray( df2[ df2['measured_at'].dt.day == 5].index )
df2.drop( mask_5apr, inplace = True )

mask_4apr = np.asarray( df3[ df3['measured_at'].dt.day == 4].index )
df3.drop( mask_4apr, inplace = True )

mask_12apr = np.asarray( df3[ df3['measured_at'].dt.day == 12].index )
df3.drop( mask_12apr, inplace = True )

mask_11apr = np.asarray( df4[ df4['measured_at'].dt.day == 11].index )
df4.drop( mask_11apr, inplace = True )

mask_19apr = np.asarray( df4[ df4['measured_at'].dt.day == 19].index )
df4.drop( mask_19apr, inplace = True )

mask_18apr = np.asarray( df5[ df5['measured_at'].dt.day == 18].index )
df5.drop( mask_18apr, inplace = True )

mask_26apr = np.asarray( df5[ df5['measured_at'].dt.day == 26].index )
df5.drop( mask_26apr, inplace = True )

mask_25apr = np.asarray( df6[ df6['measured_at'].dt.day == 25].index )
df6.drop( mask_25apr, inplace = True )

mask_3mag = np.asarray( df6[ df6['measured_at'].dt.day == 3].index )
df6.drop( mask_3mag, inplace = True )

mask_2mag = np.asarray( df7[ df7['measured_at'].dt.day == 2].index )
df7.drop( mask_2mag, inplace = True )

mask_10mag = np.asarray( df7[ df7['measured_at'].dt.day == 10].index )
df7.drop( mask_10mag, inplace = True )

mask_9mag = np.asarray( df8[ df8['measured_at'].dt.day == 9].index )
df8.drop( mask_9mag, inplace = True )

mask_17mag = np.asarray( df8[ df8['measured_at'].dt.day == 17].index )
df8.drop( mask_17mag, inplace = True )

mask_16mag = np.asarray( df9[ df9['measured_at'].dt.day == 16].index )
df9.drop( mask_16mag, inplace = True )

mask_24mag = np.asarray( df9[ df9['measured_at'].dt.day == 24].index )
df9.drop( mask_24mag, inplace = True )

mask_23mag = np.asarray( df10[ df10['measured_at'].dt.day == 23].index )
df10.drop( mask_23mag, inplace = True )

mask_31mag = np.asarray( df10[ df10['measured_at'].dt.day == 31].index )
df10.drop( mask_31mag, inplace = True )

df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10])

AttributeError: Can only use .dt accessor with datetimelike values

In [5]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10])

In [5]:
df.drop(['id', 'tipologia_lavorazione', 'cicli_da_eseguire',
        'cicli_eseguiti', 'tempo_miscelazione_eseguito',
        'stato_tramoggia', 'tara_cono', 'lotto',
        'created_at', 'updated_at', 'tempo_miscelazione_richiesto', 'destinazione_ritorno'], axis=1, inplace=True)

In [6]:
mask_no_cono = np.asarray( df[ df['id_cono'] > 24 ].index )
df.drop( mask_no_cono, inplace = True )

In [6]:
df

,id,id_cono,ubicazione,stato,postazione_pesatura_destinazione,tipologia_lavorazione,miscelatore_destinazione,estrusore_destinazione,cicli_da_eseguire,cicli_eseguiti,tempo_miscelazione_richiesto,tempo_miscelazione_eseguito,destinazione_ritorno,stato_tramoggia,tara_cono,lotto,measured_at,created_at,updated_at
0,1988651,1,43,3,2,2,2,4,1,1,80,80,1,0,0.0,,2022-03-23 00:00:29,2022-03-23 00:00:34,2022-03-23 00:00:34
1,1988652,2,0,0,1,2,1,5,1,0,80,0,2,0,0.0,,2022-03-23 00:00:29,2022-03-23 00:00:34,2022-03-23 00:00:34
2,1988653,3,14,3,2,2,1,4,1,1,80,80,1,0,0.0,,2022-03-23 00:00:29,2022-03-23 00:00:34,2022-03-23 00:00:34
3,1988654,4,0,0,2,2,2,1,1,0,80,0,1,0,0.0,,2022-03-23 00:00:29,2022-03-23 00:00:34,2022-03-23 00:00:34
4,1988655,5,0,2,2,2,1,2,1,0,80,0,0,0,0.0,,2022-03-23 00:00:29,2022-03-23 00:00:34,2022-03-23 00:00:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
559524,7228568,26,0,0,0,0,0,0,0,0,0,0,0,0,0.0,,2022-05-31 09:49:42,2022-05-31 09:49:47,2022-05-31 09:49:47
559525,7228569,27,0,0,0,0,0,0,0,0,0,0,0,0,0.0,,2022-05-31 09:49:42,2022-05-31 09:49:47,2022-05-31 09:49:47
559526,7228570,28,0,0,0,0,0,0,0,0,0,0,0,0,0.0,,2022-05-31 09:49:42,2022-05-31 09:49:47,2022-05-31 09:49:47
559527,7228571,29,0,0,0,0,0,0,0,0,0,0,0,0,0.0,,2022-05-31 09:49:42,2022-05-31 09:49:47,2022-05-31 09:49:47
559528,7228572,30,0,0,0,0,0,0,0,0,0,0,0,0,0.0,,2022-05-31 09:49:42,2022-05-31 09:49:47,2022-05-31 09:49:47

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1321521 entries, 0 to 528560
Data columns (total 7 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   id_cono                           1321521 non-null  int64
 1   ubicazione                        1321521 non-null  int64
 2   stato                             1321521 non-null  int64
 3   postazione_pesatura_destinazione  1321521 non-null  int64
 4   miscelatore_destinazione          1321521 non-null  int64
 5   estrusore_destinazione            1321521 non-null  int64
 6   measured_at                       1321521 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(6)
memory usage: 80.7 MB

### Preparazione dati di supporto

In [9]:
buffer = [n for n in range(21, 29)]
buffer.extend([n for n in range(31, 39)])

legenda_gualchierani = {
    'fuori_impianto': [0],
    'ing_zona_misc': [1],
    'catenaria_ing_misc': [45, 46],
    'navetta_serv_misc': [43],
    'pesatura': [41, 42],
    'miscelatore': [2, 8],
    'cat_usc_pieni': [3],
    'nav_serv_carr_pieni': [4],
    'nav_serv_carr_vuoti': [5],
    'buffer': buffer,
    'carroponte_1': [6],
    'carroponte_2': [7],
    'estrusore': [n for n in range(11, 19)],
    'handling_post_est': [6, 5, 4],
    'catenaria_vuoti': [47, 48],
    'catenaria_uscita_vuoti': [49],
    'pinza_vuoti': [50],
    'catenaria_parcheggi': [n for n in range(51, 58)],
    'nav_serv_parcheggi': [44],
    'manuale': [68, 70]
}

dict_states = {
    'Not_def': 0,
    'V_per_park': 1,
    'P_da_misc': 2,
    'P_da_est': 3,
    'P_remove': 4,
    'P_recheck': 5,
    'P_per_park': 6,
    'V_da_pes': 7,
    'V_remove': 8,
    'V_lavaggio': 9
}

starter = ['V_da_pes/nav_serv_carr_pieni', 'V_da_pes/nav_serv_carr_vuoti',
'V_da_pes/catenaria_vuoti', 'V_da_pes/catenaria_parcheggi',
'V_da_pes/nav_serv_parcheggi', 'V_da_pes/catenaria_ing_misc',
'V_da_pes/ing_zona_misc']

finisher = ['V_per_park/estrusore', 'V_da_pes/estrusore', 'V_remove/estrusore',
            'V_lavaggio/estrusore', 'P_da_est/fuori_impianto']

### Preparazione funzioni

In [10]:
df.reset_index(drop=True, inplace=True)

In [11]:
def naming_values(df, legenda_gualchierani, dict_states):
    for idx in df.index:
        for key in legenda_gualchierani:
            if df.loc[idx, 'ubicazione'] in legenda_gualchierani[key]:
                df.loc[idx, 'ubicazione'] = key
                break
        for key in dict_states:
            if df.loc[idx, 'stato'] == dict_states[key]:
                df.loc[idx, 'stato'] = key
                break
    return(df)

In [12]:
df = naming_values(df, legenda_gualchierani, dict_states)

In [13]:
df

,id_cono,ubicazione,stato,postazione_pesatura_destinazione,miscelatore_destinazione,estrusore_destinazione,measured_at
0,1,navetta_serv_misc,P_da_est,2,2,4,2022-03-23 00:00:29
1,2,fuori_impianto,Not_def,1,1,5,2022-03-23 00:00:29
2,3,estrusore,P_da_est,2,1,4,2022-03-23 00:00:29
3,4,fuori_impianto,Not_def,2,2,1,2022-03-23 00:00:29
4,5,fuori_impianto,P_da_misc,2,1,2,2022-03-23 00:00:29
...,...,...,...,...,...,...,...
1321516,18,carroponte_2,P_da_est,2,1,8,2022-05-30 23:59:28
1321517,19,catenaria_parcheggi,V_per_park,1,2,5,2022-05-30 23:59:28
1321518,20,fuori_impianto,V_da_pes,2,2,4,2022-05-30 23:59:28
1321519,21,estrusore,P_da_est,2,1,1,2022-05-30 23:59:28
1321520,22,fuori_impianto,Not_def,2,2,5,2022-05-30 23:59:28

In [14]:
#  crea il dataframe che sarà input alla funzione di individuazione della tracce
def create_rif(df):
    df['ID'] = 0
    df['CRC'] = 0
    df['rif'] = (df.stato.astype('str') + '/' + df.ubicazione.astype('str'))
    return(df)

In [15]:
df = create_rif(df)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1321521 entries, 0 to 1321520
Data columns (total 10 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   id_cono                           1321521 non-null  int64
 1   ubicazione                        1321521 non-null  object
 2   stato                             1321521 non-null  object
 3   postazione_pesatura_destinazione  1321521 non-null  int64
 4   miscelatore_destinazione          1321521 non-null  int64
 5   estrusore_destinazione            1321521 non-null  int64
 6   measured_at                       1321521 non-null  datetime64[ns]
 7   ID                                1321521 non-null  int64
 8   CRC                               1321521 non-null  int64
 9   rif                               1321521 non-null  object
dtypes: datetime64[ns](1), int64(6), object(3)
memory usage: 100.8+ MB

In [17]:
#  questa funzione individua delle potenziali tracce di processo
#  prende in input una lista di possibili punti di inizio ed una di possibili punti di fine

def delete_duplicates(df, cono_in_esame):
    cono = []
    rif = []
    timestamp = []
    df_c = df[df['id_cono'] == cono_in_esame].copy()
    df_c.reset_index(inplace=True, drop=True)
    for idx in range(len(df_c.index) - 1):
        if idx == 0 or idx == len(df_c):
            cono.append(cono_in_esame)
            rif.append(df_c.loc[idx, 'rif'])
            timestamp.append(df_c.loc[idx, 'measured_at'])
        elif (df_c.loc[idx, 'rif'] != df_c.loc[idx - 1, 'rif']
            and df_c.loc[idx, 'rif'] == df_c.loc[idx + 1, 'rif']):
            cono.append(cono_in_esame)
            rif.append(df_c.loc[idx, 'rif'])
            timestamp.append(df_c.loc[idx, 'measured_at'])
        else:
            pass
    
    df_c = pd.DataFrame(list(zip(cono, rif, timestamp)), columns =['cono', 'rif', 'timestamp'])
    df_c.sort_values('timestamp', inplace=True)
    return(df_c)

In [18]:
for cono in range(1, 25):
    print(cono)
    if cono == 1:
        df_clean = delete_duplicates(df, cono)
    else:
        df_clean = pd.concat([df_clean, delete_duplicates(df, cono)])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [19]:
df_clean

      cono                           rif           timestamp
0        1    P_da_est/navetta_serv_misc 2022-03-23 00:00:29
1        1  P_da_est/nav_serv_carr_pieni 2022-03-23 00:01:38
2        1         P_da_est/carroponte_1 2022-03-23 00:03:21
3        1               P_da_est/buffer 2022-03-23 00:05:38
4        1            P_da_est/estrusore 2022-03-23 00:09:04
...    ...                           ...                 ...
6145    23            P_da_est/estrusore 2022-05-28 13:54:58
0       24       P_da_est/fuori_impianto 2022-03-23 00:00:29
1       24     P_per_park/fuori_impianto 2022-04-27 01:53:16
2       24     V_per_park/fuori_impianto 2022-04-27 02:13:18
3       24        Not_def/fuori_impianto 2022-04-27 16:10:00

[27533 rows x 3 columns]

### Calcolo tracce

In [20]:
def calculate_traces(df_clean, finisher):
    df_clean['ID_unique'] = None
    
    for cono in range(1, 25):
        trace = 0
        df_c = df_clean[df_clean['cono'] == cono].copy()
        df_c.sort_values('timestamp', inplace=True)
        df_c.reset_index(inplace=True, drop=True)
        start = False
        end = True
        for idx in df_c.index:
            if df_c.loc[idx, 'rif'] == 'V_da_pes/pesatura' and not start and end:
                df_c.loc[idx, 'ID_unique'] = str(trace) + 'C' + str(cono)
                start = True
                end  = False
            elif df_c.loc[idx, 'rif'] in finisher and start and not end:
                df_c.loc[idx, 'ID_unique'] = str(trace) + 'C' + str(cono)
                start = False
                end  = True
                trace = trace + 1
            elif start and not end:
                df_c.loc[idx, 'ID_unique'] = str(trace) + 'C' + str(cono)
            else:
                pass
        if cono == 1:
            df_traces = df_c.copy()
        else:
            df_traces = pd.concat([df_traces, df_c])
    return(df_traces)

In [21]:
df_traces = calculate_traces(df_clean, finisher)

In [22]:
df_traces.dropna(inplace=True)

In [23]:
df_traces.to_csv('C:/Users/HP/Desktop/df_traces_from_weigh.csv')

In [24]:
len(df_traces['ID_unique'].unique())

1858

In [25]:
df_traces.head(17)

    cono                           rif           timestamp ID_unique
11     1             V_da_pes/pesatura 2022-03-23 01:54:52       0C1
12     1            P_da_misc/pesatura 2022-03-23 02:09:10       0C1
13     1         P_da_misc/miscelatore 2022-03-23 02:11:28       0C1
14     1          P_da_est/miscelatore 2022-03-23 02:13:45       0C1
15     1        P_da_est/cat_usc_pieni 2022-03-23 02:14:54       0C1
16     1  P_da_est/nav_serv_carr_pieni 2022-03-23 02:18:19       0C1
17     1         P_da_est/carroponte_1 2022-03-23 02:20:02       0C1
18     1            P_da_est/estrusore 2022-03-23 02:22:20       0C1
19     1          V_per_park/estrusore 2022-03-23 03:06:55       0C1
24     1             V_da_pes/pesatura 2022-03-23 04:22:27       1C1
25     1            P_da_misc/pesatura 2022-03-23 04:37:54       1C1
26     1         P_da_misc/miscelatore 2022-03-23 04:40:11       1C1
27     1          P_da_est/miscelatore 2022-03-23 04:44:12       1C1
28     1  P_da_est/nav_serv_carr_pieni 2022-03-23 04:47:04       1C1
29     1         P_da_est/carroponte_1 2022-03-23 04:48:47       1C1
30     1            P_da_est/estrusore 2022-03-23 04:51:04       1C1
31     1          V_per_park/estrusore 2022-03-23 06:14:35       1C1